body {
  margin: 0;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 100%;
  padding: 10px;
  border: 3px solid gray;

  grid-template-areas:
    "img1 img2 img3"
    "img4 img2 img5"
    "img6 img7 img8";
}

.grid-item img {
  width: 100%;
  border-radius: 10px;
}

.img1 {
  grid-area: img1;
}
.img2 {
  grid-area: img2;
}
.img3 {
  grid-area: img3;
}
.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}
.img6 {
  grid-area: img6;
}
.img7 {
  grid-area: img7;
}
.img8 {
  grid-area: img8;
}

.grid-item-2 {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-item4 {
  grid-row: span 2;
}
